

# Good morning!

## Overview.

<ul>
<li>1. <b>Where</b> are databases used?</li>
<li>2. <b>Why</b> are database management systems used?</li>
<li>3. <b>What</b> is a relational database?</li>
<li>4. <b>How</b> do we install, connect and use Postgresql?</li>
</ul>


### Where is data used?

Where do people record data?

<ul>
<li>Yelp - They keep track of restaurants,  users and reviews </li>
<li>Facebook - They keep track of users and friends. </li>
<li>Hospitals - They keep track of medical records. </li>
<li>Amazon - They keep track of users, products, purchases and reviews</li>
</ul>

What sort of things do we not have data about?

### Why use a database management system?

Why use databases? You could store data in a file and have everyone share it. What are some problems with this? 

#### Concurrency and transactions:
<ul>
<li>Two people reading the same data is fine.</li>
<li>What if one person starts reading while another person reads. What version will they get? Will it be a consistent datafile?</li>
<li>What if one person is halfway done inserting a row while the other starts to read the row?</li>
</ul>

#### Fault tolerance
<ul>
<li>
What if the computer crashes or the connection is lost? Transactions protect the database.</li>
</ul>

#### Data independence
<ul>
<li>
What happens when the format of the data is changed within the text file? Do you now need to change all your code? How data is handled is abstracted from how data is managed.
</li>
</ul>

### What is a DBMS?  
<b>DBMS are systems that solve all of the problems that we had with storing data in a shared text file.</b> They allow us concurrently access and change data in a fault tolerant way which abstracts the way data is managed from how it is used in an application. This is all done for us under the hood, behind the scenes by the DBMS and quickly.

### What is a relational database?
<b>What is a relational database?</b> <b><i>Essentially tables with rows and named columns.</i></b> These columns are called fields. A set of fields which are associated with the same row of data is called a relation. Think of yelp. The restaurant id name and type of food are a relation. They are related to each other. Different tables are also related to each other. Restaurants are related to reviews which are related to users.

Restaurants
<table><tr><th>ID</th><th>Name</th><th>Type</th></tr>
<tr><td>1</td><td>Cafe Allegro</td><td>Coffee and tea </td></tr>
<tr><td>2</td><td>Cafe Solstice</td><td>Coffee and tea</td></tr>
<tr><td>3</td><td>Julia's Bar and Grill</td><td>American</td></tr>
</table>

Reviews
<table><tr><th>ID</th><th>User_ID</th><th>Restaurant_ID</th><th>Review</th></tr>
<tr><td>1</td><td>2</td><td>1</td><td>5 stars</td></tr>
<tr><td>2</td><td>1</td><td>3</td><td>4 stars</td></tr>
<tr><td>3</td><td>2</td><td>2</td><td>4 stars</td></tr>
<tr><td>4</td><td>3</td><td>2</td><td>3 stars</td></tr>
</table>

Users
<table><tr><th>ID</th><th>Name</th></tr>
<tr><td>1</td><td>Bob</td></tr>
<tr><td>2</td><td>Beatrice</td></tr>
<tr><td>3</td><td>Ajmal</td></tr>
<tr><td>4</td><td>Yangyang</td></tr>
</table>


In short, rDBMS allow you to:
<ul>
<li>1. Create tables.</li>
<li>2. Delete tables.</li>
<li>3. Insert rows into tables.</li>
<li>4. Update rows of a table.</li>
<li>5. Delete rows from a table.</li>
<li>6. Look at tables.</li>
<li>7. Combine many tables into a single table by relating them.</li>
</ul>

All concurrently, fault-tolerantly, in the background and quickly. 

We will use <b>postgresql</b>. It's an open source rDBMS. You can compare it with other systems here:
https://en.wikipedia.org/wiki/Comparison_of_relational_database_management_systems


### How do we use Postgresql?




##### Installing Postgres

I suggest installing posgresql with homebrew and start/stopping with lunchy but you can find a general installation guide for postgres on linux, mac and windows at:
https://wiki.postgresql.org/wiki/Detailed_installation_guides

My recommendations for install on mac:
Install homebrew, a package manager for mac. 
http://brew.sh

Install lunchy and postgres with homebrew. Lunchy lets us start and stop a database server with less typing.
https://www.moncefbelyamani.com/how-to-install-postgresql-on-a-mac-with-homebrew-and-lunchy/



#### Connect to postgres database via command line.

Start the server. If you installed lunchy, you can do it with the following:

    $lunchy start postgres

Or to stop it(make sure to restart it for this exercise if you do stop it.):

    $lunchy stop postgres

Create a database:

    $createdb database_name

Then to connect to the database:

    $psql database_name

If the database is on a different server you can do the following:

    $psql -h < host > -p < port > -U < username > -W < password > < database_name >
    
You will typically connect to a database with a username and if it is not on your own machine, you will need the hostname and perhaps the port as well. Users have different priveledges, like read-only or restrictions on tables that you can write to. 

## SQL

SQL - Structured Query-markup Language. It's a declarative language. You declare what you want to happen. 

Example of a declarative statement: get me all of the scores for all of the games played by the Seattle Sounders in 2015. 

You can contrast this with a procedural programming language like Python. 

Example of a procedural statement: Go through each row of the games table. If the row happened in 2015 and the Seattle Sounders played in the game, record the scores of that game. Bring me that record. 









### We will learn how to:

<ul>
<li>CREATE TABLEs with field names and datatypes</li>
<li>DROP TABLE</li>
<li>INSERT INTO table</li>
<li>SELECT fields FROM tables</li>
<li>DELETE FROM table</li>
<li>UPDATE table</li>
<li>Mutli-table SELECTs</li>
<li>JOIN tables in 4 ways:INNER JOIN, LEFT OUTER JOIN, RIGHT OUTER JOIN, OUTER JOIN</li>
<li>COUNT rows</li>
<li>GROUP BY fields</li>
<li>Use CASEs</li>
<li>ORDER BY</li>
<li>DISTINCT</li>
<li>Do subqueries, i.e. query a query</li>
<li>Understand the order of operations.</li>
</ul>






#### Create table 

CREATE TABLE restaurants 
(id SERIAL PRIMARY KEY, name VARCHAR(20),type VARCHAR(15));


    CREATE TABLE - does what it says.

    restaurants - the name of our table.

    id - the name of the first field(or column) of our table. 

    SERIAL - every field needs a datatype. This type automatically increments this column when a new row is inserted.

    PRIMARY KEY - Think of a dictionary. Each workd is a key. Keys are ways of looking entries in a table. A primary key makes sure every row is uniquely identified. If you try to insert a row with the same id as a previous id, because it is a primary key, you will get an error. 

    name - the name of our second field(or column) of our table.

    VARCHAR or VARCHAR(20) - variable length string of characters. In this case, at most 20 characters long.  

    ; - every query ends with ;

There are many more datatypes:

http://www.postgresql.org/docs/9.4/static/datatype.html

#### Dropping tables

DROP TABLE restaurants;


#### Insert into table

Insert one row at a time

INSERT INTO restaurants (name,type) VALUES ('Cafe Allegro','Coffee and tea');

Because our primary key is a SERIAL data type, the id will auto-increment if we do not specify it. 

Or many rows at a time. And without the id field, since it is automatically incremented. 

INSERT INTO restaurants (name,type) VALUES 
('Cafe Solstice','Coffee and tea'),
('Julia''s','American');

    '' - escape single quote by double quoting it. 


#### Selecting data

Selecting every row of the table.

SELECT * FROM restaurants;

    SELECT - This is the command for retrieving information from tables.

    * - This means that we are selecting all of the fields.
    
    FROM - This tells the DBMS that we are about to tell it which table to select from.
    
    restaurants - The table we are selecting from. 

If we wanted just the name and not the id as well, we could specify which fields to show.

SELECT name FROM restaurants;

We may not want every row of the table. We may just want the first one. 

SELECT name FROM restaurants WHERE id=1;

Or the first and second entry.

SELECT name FROM restaurants WHERE id=1 or id=2;


Updating a table

UPDATE restaurants SET name='Maggie''s' WHERE id=3;


Using CASEs:

SELECT name, 
CASE WHEN type='Coffee and tea' 
THEN 'It''s a cafe.'
ELSE 'It is not a cafe.' END
FROM restaurants;





#### Aggregate functions:

#### COUNT

SELECT type, count(id) 
FROM restaurants 
GROUP BY type;

#### MAX id - What is the name of the restaurant with the maximum value for the id? 

SELECT max(id) as val FROM restaurants

SELECT restaurants.name, max_id.val 
FROM restaurants,(SELECT max(id) as val FROM restaurants) as max_id
WHERE max_id.val=restaurants.id;

#### MIN id - What is the name of the restaurant with the minimum value for the id?

SELECT restaurants.name, min_id.val 
FROM restaurants,(SELECT min(id) as val FROM restaurants) as min_id
WHERE min_id.val=restaurants.id;

avg - average
sum - sum
other aggregate functions:
http://www.postgresql.org/docs/9.4/static/functions-aggregate.html

#### Deleting from a table

DELETE FROM restaurants WHERE id = 3;

INSERT INTO restaurants (name,type) VALUES ('Julia''s','American');


#### Multi-table queries
    
We will need two other tables for our restaurant reviews database. 

CREATE TABLE users 
(id SERIAL PRIMARY KEY, name VARCHAR(20));

CREATE TABLE reviews 
(id SERIAL PRIMARY KEY, 
user_id INTEGER, 
restaurant_id INTEGER REFERENCES restaurants(id),
rating SMALLINT);

    REFERENCES user(id) - This is a foreign key. If I try to insert a review by a user and that user id doesn't exist, it will give me an error. 
    
    INTEGER - Signed, four bytes. One byte=256. 4 bytes is 256**4 ~ 50 billion. 
    
    SMALLINT - 2 bytes = 256**2. 
    

#### Importing/Copying from a file.

COPY restaurants (name,type)
FROM '/Users/kamilmichnicki/mylectures/sql/kamil_michnicki/restaurants.copy' 
WITH DELIMITER ',' CSV;

COPY users (name)
FROM '/Users/kamilmichnicki/mylectures/sql/kamil_michnicki/users.copy' 
WITH DELIMITER ',' CSV;

COPY reviews (user_id,restaurant_id,rating)
FROM '/Users/kamilmichnicki/mylectures/sql/kamil_michnicki/reviews.copy' 
WITH DELIMITER ',' CSV;


#### Look at the database and table schema

Type the \d command in psql to look at all of the relations/tables in your database. \dt limits the list to only tables that you have created and excludes meta-tables. 

To look at the schema of a table type:
\d+ tablename
In psql. 

#### Multi table queries


villain_id is a foreign key. Now when we grab a row of the crimes table, we can find the corresponding villain in the villains table immediately without searching through all of the records of the villains table. 

What does the following do?

SELECT * FROM restaurants, reviews

We can relate the tables with a WHERE clause.

SELECT * FROM restaurants, reviews 
WHERE restuarants.id=reviews.restaurant_id;

    restaurants.id=reviews.restaurant_id - Two tables may share the same field name so we have to specify which table the field comes from. We do this by writing tablename.fieldname.

Would be nice if they were ordered...

SELECT * FROM restaurants, reviews 
WHERE restuarants.id=reviews.restaurant_id
ORDER BY restaurants.id;


Equivalently, we can do a join.

SELECT * FROM restaurants 
JOIN reviews ON restaurants.id=reviews.restaurant_id;

Or

SELECT * FROM restaurants 
INNER JOIN reviews ON restaurants.id=reviews.restaurant_id;

Sometimes a user will have left a review and have not logged in. There will be no user id for that review. 

SELECT * FROM restaurants 
JOIN reviews ON restaurants.id=reviews.restaurant_id
LEFT JOIN users ON users.id=reviews.user_id;

We are getting a lot of fields now. We specify fields with table.field

SELECT restaurants.name, users.name, reviews.rating 
FROM restaurants 
JOIN reviews ON restaurants.id=reviews.restaurant_id
LEFT JOIN users ON users.id=reviews.user_id 
ORDER BY restaurants.id;

For LEFT JOIN, each row of the left table is joined to the right table and if there is no match then the right table returns NULL results for each field. RIGHT JOIN does the same but returns NULL results for the left table. 

SELECT restaurants.name, users.name, reviews.rating 
FROM users 
RIGHT JOIN reviews ON users.id=reviews.user_id
JOIN restaurants ON restaurants.id=reviews.restaurant_id
ORDER BY restaurants.id;

We can do both a LEFT JOIN and a RIGHT JOIN by using the FULL JOIN clauses 

```sql 
SELECT restaurants.name, users.name, reviews.rating 
FROM users 
FULL JOIN reviews ON users.id=reviews.user_id
JOIN restaurants ON restaurants.id=reviews.restaurant_id
ORDER BY restaurants.id;
```

#### Group by

Now let's count the number of reviews for each restaurant.

SELECT restaurants.name,count(reviews.restaurant_id) 
FROM restaurants 
JOIN reviews ON restaurants.id=reviews.restaurant_id 
GROUP BY restaurants.id;

It's not displaying restaurants with zero reviews. Fixed with a left join!

SELECT restaurants.name,count(reviews.restaurant_id) 
FROM restaurants 
LEFT JOIN reviews ON restaurants.id=reviews.restaurant_id 
GROUP BY restaurants.id;



#### Case

SELECT restaurants.name,

CASE WHEN count(reviews.restaurant_id)>0 
THEN 'Has reviews.'
ELSE 'Has no reviews.' END as has_reviews

FROM restaurants 
LEFT JOIN reviews ON restaurants.id=reviews.restaurant_id 
GROUP BY restaurants.id;


### Order of operations.

SELECT * FROM table JOIN table2 ON table.f=table2.g WHERE condition GROUP BY field ORDER BY field

FROM
JOIN
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY

### Indexing: 

CREATE UNIQUE INDEX ON restaurants (id);

### Dumping a database:

pg_dump mydb > db.sql

### Moving data to a text file

COPY (SELECT * FROM restaurants WHERE type='Coffee and tea')
TO '/Users/kamilmichnicki/mylectures/sql/kamil_michnicki/cafes.copy' 
WITH DELIMITER ',';

Discussion

### Write simple queries on a single table including SELECT, FROM, WHERE, CASE clauses and aggregates.

### Write complex queries including JOINS and subqueries.

### Format a query to follow a standard style.

# Afternoon
<ul>
<li>##Connect to a database from within a python program.</li>
<li>Explain how indexing works in Postgres.</li>
<li>Create and dump tables.</li>
<li>Move data from SQL database to text file.</li>
<li>Discussion</li>
</ul>

It was a dark night and a super hero is on was on their computer. This super hero is personally responsible for putting many criminals behind bars at the Institute for Data Criminals, the IDC for short. Our hero promised that he would create a database for them. They want to manage the data about their inmates. Having a connection to this database was very important for the our hero. One never knows when one needs to do an investigation. But before our hero could do anything, our hero would need to connect to the database...

Our hero openned the terminal and sshed into the ICI server. They typed:

$ssh batman@idc.com

After entering the password, our hero could create the database by typing:

$createdb idc

And then connect to it by typing:

$psql idc

Our hero is now connected to the database. Now, our hero could have done this in one command:

$psql -h <host> -p <port> -U <username> -W <password> idc

If the database were on our heroes local machine, our hero could have typed:

$psql idc

Well anyway, back to the story. Now our hero is in an interactive terminal for posgresql. The first thing to do is to create a table.

$CREATE TABLE inmates (id SERIAL PRIMARY KEY, name VARCHAR(20))





the internet...

First he went to google and searched for recent video of a masked figure who had released a menacing video.
<a href='google.com'>Google</a>

Google's database churned as it pumped results out from it's many distributed servers. Much like the service men and women who protected Gotham city. Each working independently but still together.

<a href='youtube.com'>Youtube</a>

The threat was both vague but very real. Somewhere in the city, something bad would happen, unless, batman could figure out the mystery.


Batman went to the database for Gotham's institute for the criminally insane. 

He typed:

SELECT * FROM inmates;

and got all of the information about the inmates table.
 
id|name|status
1|Joker|inmate
2|Scar-face|inmate
...

Next he wanted to see who had commited which which crimes. So he typed:

SELECT * FROM crimes;

id|crime|inmate_id
1|pick-pocket|3
2|menacing threats|4
3|practical jokes|2
...

But then he discovered that he could not see the name of the person who had commited the crime, just their ids. He would need a way to join the tables together. After searching stackoverflow.com he found two different ways to do it.

SELECT * FROM inmates, crimes WHERE inmates.id=crimes.inmate_id;

SELECT * FROM inmates JOIN crimes on inmates.id=crimes.inmate_id;

They were similar but using the join seemed not to repeat the two fields that contained the inmate id. Batman did not like to waste space so he chose to use the JOIN. 

Meanwhile, Gotham's police force was hard at work. The plan was that the police force would map out any suspisious behavrior. They went to every neighborhood and asked around. each police officer would go to a different part of town and look for anything suspicious. They would come back to HQ and report.


The police force went on red alter. Batman was alerted to check the database.

SELECT * FROM inmates;